<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fffb8e8912.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/inicio/solicitudes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>

{% extends 'index.html' %}

<body>
    {% block content %}
    <div class="contenedor">
        <h2 class="titulo">Solicitudes futuras</h2>

        <div class="info">
            <div class="available">
                <button href="" class="button">
                    <div class="capsul">
                        <i class="fa-regular fa-calendar"></i>
                        <div class="sub-info">
                            <span>Vacaciones disponibles</span>
                            <span>27 de 6 dias</span>
                        </div>
                    </div>
                </button>

                <button href="" class="button">
                    <div class="capsul">
                        <i class="fa-regular fa-calendar"></i>
                        <div class="sub-info">
                            <span>Dias disponibles</span>
                            <span>0 de 0 dias</span>
                        </div>
                    </div>
                </button>
            </div>
            
            <button class="button-create" id="modalBtn">CREAR SOLICITUD</button>
        </div>
        <div class="leyenda-progress">
            <div class="emitido">
                <span>Emitido</span>
                <div class="emitido-color"></div>
            </div>
            <div class="validado">
                <span>Validado</span>
                <div class="validado-color"></div>
            </div>
            <div class="aprobado">
                <span>Aprobado</span>
                <div class="aprobado-color"></div>
            </div>
            <div class="boleta-emitida">
                <span>Boleta Emitida</span>
                <div class="boleta-emitida-color"></div>
            </div>
            <div class="boleta-firmada">
                <span>Boleta Firmada</span>
                <div class="boleta-firmada-color"></div>
            </div>
        </div>

        <div class="filtro-solicitudes">
            <p id="link-vacaciones" class="solicitud-link active-solicitud">Vacaciones</p>
            <p id="link-descansos" class="solicitud-link">Descansos</p>
            <p id="link-licencias" class="solicitud-link">Licencias</p>
        </div>

        <div class="solicitudes-contenedor"> 
            
            <!-- SOLICITUDES-VACACIONES -->           
            <div id="solicitudes-vacaciones" class="">
                <div class="card-custom float">
                    <div class="progress-bar-solicitudes"></div>
                    <div class="principal">
                        <button class="close-card"><i class="fa-solid fa-xmark"></i></button>
                        <div class="info-card">
                            <span class="title-type">SOLICITUD DE VACACIONES REGULARES</span>
                            <div class="fechas-targetas">
                                <span>Inicio: 2023/12/25</span>
                                <span>Fin: 2024/01/30</span>
                                <span>Días: 36</span>
                            </div>
                        </div>
    
                        <div class="progress-sections">
                            <button class="issued">Editar</button>
                        </div>
                    </div>
                </div>
                <div class="card-custom float">
                    <div class="progress-bar-solicitudes"></div>
                    <div class="principal">
                        <button class="close-card"><i class="fa-solid fa-xmark"></i></button>
                        <div class="info-card">
                            <span class="title-type">SOLICITUD DE VACACIONES REGULARES</span>
                            <div class="fechas-targetas">
                                <span>Inicio: 2023/12/25</span>
                                <span>Fin: 2024/01/30</span>
                                <span>Días: 36</span>
                            </div>
                        </div>
    
                        <div class="progress-sections">
                            <button class="issued">Editar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SOLICITUDES-DESCANSO -->
            <div id="solicitudes-descanso" class="hidden">
                <div class="card-custom float">
                    <div class="progress-bar-solicitudes"></div>
                    <div class="principal">
                        <button class="close-card"><i class="fa-solid fa-xmark"></i></button>
                        <div class="info-card">
                            <span class="title-type">SOLICITUD DE DESCANSO MEDICO</span>
                            <div class="fechas-targetas">
                                <span>Inicio: 2023/12/25</span>
                                <span>Fin: 2024/01/30</span>
                                <span>Días: 36</span>
                            </div>
                        </div>
    
                        <div class="progress-sections">
                            <button class="issued">Editar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SOLICITUDES-LICENCIAS -->
            <div id="solicitudes-licencia" class="hidden">
                <div class="card-custom float">
                    <div class="progress-bar-solicitudes"></div>
                    <div class="principal">
                        <button class="close-card"><i class="fa-solid fa-xmark"></i></button>
                        <div class="info-card">
                            <span class="title-type">SOLICITUD DE LICENCIA</span>
                            <div class="fechas-targetas">
                                <span>Inicio: 2023/12/25</span>
                                <span>Fin: 2024/01/30</span>
                                <span>Días: 36</span>
                            </div>
                        </div>
    
                        <div class="progress-sections">
                            <button class="issued">Editar</button>
                        </div>
                    </div>
                </div>
                <div class="card-custom float">
                    <div class="progress-bar-solicitudes"></div>
                    <div class="principal">
                        <button class="close-card"><i class="fa-solid fa-xmark"></i></button>
                        <div class="info-card">
                            <span class="title-type">SOLICITUD DE LICENCIA</span>
                            <div class="fechas-targetas">
                                <span>Inicio: 2023/12/25</span>
                                <span>Fin: 2024/01/30</span>
                                <span>Días: 36</span>
                            </div>
                        </div>
    
                        <div class="progress-sections">
                            <button class="issued">Editar</button>
                        </div>
                    </div>
                </div>
                <div class="card-custom float">
                    <div class="progress-bar-solicitudes"></div>
                    <div class="principal">
                        <button class="close-card"><i class="fa-solid fa-xmark"></i></button>
                        <div class="info-card">
                            <span class="title-type">SOLICITUD DE LICENCIA</span>
                            <div class="fechas-targetas">
                                <span>Inicio: 2023/12/25</span>
                                <span>Fin: 2024/01/30</span>
                                <span>Días: 36</span>
                            </div>
                        </div>
    
                        <div class="progress-sections">
                            <button class="issued">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden">

        </div>

        <div id="myModal" class="hidden">
            <div class="modal-content slide-top">
                
                <div class="select-content">
                    <div class="sub-title">
                        <span id="close" class="close"><i class="fa-solid fa-xmark"></i></span>
                        <h4 class="text-center">Crear una solicitud</h4>
                    </div>
                    
                    <div class="choose">
                        <span>Tipo de solicitud</span>
                        <select name="" id="miSelect" class="form-select">
                            <option value="" disabled selected class="hidden">Selecciona una opción</option>
                            <option value="vacaciones">SOLICITUD DE VACACIONES REGULARES</option>
                            <!-- <option value="faltas">SOLICITUD DE REGULARIZACIÓN DE FALTAS</option>
                            <option value="permiso">SOLICITUD DE PERMISO</option> -->
                            <option value="descanso">SOLICITUD DE DESCANSO MEDICO</option>
                            <option value="licencia">SOLICITUD DE LICENCIA</option>
                            <!-- <option value="licencia">VENTA DE VACACIONES</option> -->
                        </select>
                    </div>
                </div>

                <!-- VACACIONES -->
                <form id="vacaciones-form" action="
                " method="POST" class="hidden vacaciones-option">
                    {% csrf_token %}
                    <div class="period">
                        <div class="notification">
                            <span>Vacaciones: 27 dias disponibles</span>
                        </div>
                        <div class="periods">
                            <div class="period-start input-group-sm">
                                <span>Inicio Periodo:</span>
                                <input id="date1" type="date" class="form-control"> 
                            </div>
                            <div class="period-end input-group-sm">
                                <span>Fin Periodo:</span>
                                <input id="date2" type="date" class="form-control"> 
                            </div> 
                            <div class="total-days input-group-sm">
                                <span>Dias:</span>
                                <input id="days" type="text" class="form-control" disabled>
                            </div>               
                        </div>
                        <div class="authorizers-vacaciones input-group-sm">
                            <span>Responsable(s) de autorizacion:</span>
                            <input id="auth-vacaciones" type="text" class="form-control" disabled>
                        </div>
                        <div class="signature-vacaciones form-switch">
                            <input id="check-vacaciones" type="checkbox" class="form-check-input">
                            <span>Autorización de Firma Digital</span>
                        </div>
                    </div>
                    
                    <div class="buttons-vacaciones">
                        <button id="close2" class="btn btn-danger">Cancelar</button>
                        <button class="btn btn-primary" onclick="return validarFormularioVacaciones()">Crear</button>
                    </div>
                </form>



                <!-- DESCANSO -->
                <div class="hidden descanso-option">
                    <div class="period">
                        <div class="periods">
                            <div class="period-start input-group-sm">
                                <span>Inicio Periodo:</span>
                                <input type="text" id="date3" class="form-control" required>
                            </div>
                            <div class="period-end input-group-sm">
                                <span>Fin Periodo:</span>
                                <input type="text" id="date4" class="form-control">    
                            </div> 
                            <div class="total-days input-group-sm">
                                <span>Dias:</span>
                                <input id="days2" type="text" class="form-control" disabled>
                            </div>           
                        </div>

                        <div class="type-descanso">
                            <span>Causas de las faltas:</span>

                            <select class="form-select form-select-sm">
                                <option value="" disabled selected class="hidden">Selecciona una opción</option>
                                <option>ENFERMEDAD</option>
                                <option>ACCIDENTE</option>
                                <option>OTROS</option>
                                <option>COVID-19</option>
                            </select>
                        </div>

                        <div class="custom-file">
                            <form id="uploadform" enctype="multipart/form-data" class="form-license">
                                {% csrf_token %}
                                <div class="files-content">
                                    <label for="archivo"><i class="fa-solid fa-arrow-up-from-bracket"></i>Elegir archivos</label>
                                    <div id="filename" class="files-names"></div>
                                </div>
                                
                                <label for="text-submit">Subir</label>
                                <input type="file" name="archivo" id="archivo" onchange="handleFileSelect()" accept=".docx, .doc, .docm, .dot, .dotx, .dotm, .docm, application/msword,image/*, .pdf, .xls, .xlsx, .xlsm, .xltx, .xltm, .xlsb, .xlam" multiple>
                                <input type="hidden" name="next_url" value="{{ request.get_full_path }}">
                                <input type="button" value="Subir archivo" id="text-submit" onclick="enviarFormulario()">
                            </form>
                        </div>

                        <div class="authorizers-descanso input-group-sm">
                            <span>Responsable(s) de autorizacion:</span>
                            <input type="text" class="form-control" disabled>
                        </div>
                        <div class="signature-descanso form-switch">
                            <input type="checkbox" class="form-check-input">
                            <span>Autorización de Firma Digital</span>
                        </div>
                    </div>
                    <div class="buttons-descanso">
                        <button id="close3" class="btn btn-danger">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </div>



                <!-- LICENCIA -->
                <div class="hidden licencia-option">
                    <div class="period-licencia">
                        <div class="periods">
                            <div class="period-start input-group-sm">
                                <span>Inicio Periodo:</span>
                                <input id="date5" type="text" class="form-control"> 
                            </div>
                            <div class="period-end input-group-sm">
                                <span>Fin Periodo:</span>
                                <input id="date6" type="text" class="form-control">
                            </div> 
                            <div class="total-days input-group-sm">
                                <span>Dias:</span>
                                <input id="days3" type="text" class="form-control" disabled>
                            </div>               
                        </div>

                        <div class="type-license">
                            <span>Tipo de Licencia</span>

                            <select name="" id="typelicense" class="form-select form-select-sm">
                                <option value="" disabled selected class="hidden">Selecciona una opción</option>
                                <option value="con" >LICENCIA CON GOCE DE HABER</option>
                                <option value="sin">LICENCIA SIN GOCE DE HABER</option>
                            </select>
                        </div>

                        <div class="license-detail">
                            <span>Detalle de Licencia</span>

                            <select name="" id="licensedetail" class="form-select form-select-sm">
                                <option value="" disabled selected class="hidden">Selecciona una opción</option>
                                <option class="hidden" id="maternidad">LICENCIA POR MATERNIDAD</option>
                                <option class="hidden" id="paternidad">LICENCIA POR PATERNIDAD</option>
                                <option class="hidden" id="familiar">FALLECIMIENTO DE FAMILIAR</option>
                                <option class="hidden" id="otros1">OTROS</option>
                                <option class="hidden" id="estudios">ESTUDIOS</option>
                                <option class="hidden" id="tramites">TRAMITES DIVERSOS</option>
                                <option class="hidden" id="personales">MOTIVOS PERSONALES</option>
                                <option class="hidden" id="salud">PROBLEMAS DE SALUD</option>
                                <option class="hidden" id="otros2">OTROS</option>
                            </select>
                        </div>

                        <div class="request-details-license input-group-sm form-floating">
                            <span>Descripción de la Solicitud:</span>
                            <textarea class="form-control"></textarea>
                        </div>

                        <div class="custom-file">
                            <form id="uploadform" action="{% url 'subir_archivo_sharepoint' %}" method="post" enctype="multipart/form-data" class="form-license">
                                {% csrf_token %}
                                <h6 id="filename2"></h6>
                                <label for="archivo2"><i class="fa-solid fa-arrow-up-from-bracket"></i>Elegir archivo</label>
                                <label for="text-submit2">Subir</label>
                                <input type="file" name="archivo2" id="archivo2">
                                <input type="hidden" name="next_url2" value="{{ request.get_full_path }}">
                                <input type="submit" value="Subir archivo" id="text-submit2">
                            </form>
                        </div>

                        <div class="authorizers-license input-group-sm">
                            <span>Responsable(s) de autorizacion:</span>
                            <input type="text" class="form-control" disabled>
                        </div>
                        <div class="signature-license form-switch">
                            <input type="checkbox" class="form-check-input">
                            <span>Autorización de Firma Digital</span>
                        </div>
                    </div>                   
                    
                    <div class="buttons-license">
                        <button id="close4" class="btn btn-danger">Cancelar</button>
                        <button class="btn btn-primary">Crear</button>
                    </div>
                </div>


                
                <!-- FALTAS -->
                <div class="hidden faltas-option">
                    <div class="notification">
                        <span>Vacaciones: 27 dias disponibles</span>
                    </div>
                    <div class="period">
                        <div class="periods">
                            <div class="period-start input-group-sm">
                                <span>Inicio Periodo:</span>
                                <input id="date5" type="text" class="form-control"> 
                            </div>
                            <div class="period-end input-group-sm">
                                <span>Fin Periodo:</span>
                                <input id="date6" type="text" class="form-control">
                            </div> 
                            <div class="total-days input-group-sm">
                                <span>Dias:</span>
                                <input type="text" class="form-control" disabled>
                            </div>
                            <div class="total-days input-group-sm">
                                <span>Horas:</span>
                                <input type="text" class="form-control" disabled>
                            </div>            
                        </div>

                        <div class="type-faltas">
                            <span>Compensar Faltas por:</span>

                            <select class="form-select form-select-sm">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option>CON VACACIONES</option>
                                <option>CON SUELDO</option>
                            </select>
                        </div>

                        <div class="faltas-detail">
                            <span>Causas de las faltas:</span>

                            <select class="form-select form-select-sm">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option>INASISTENCIA</option>
                                <option>JORNADA LABORAL INCOMPLETA</option>
                                <option>OTROS</option>
                            </select>
                        </div>

                        <div class="request-details-faltas input-group-sm form-floating">
                            <span>Descripción de la Solicitud:</span>
                            <textarea contenteditable="true" class="form-control"></textarea>
                        </div>
                        <div class="authorizers-faltas input-group-sm">
                            <span>Responsable(s) de autorizacion:</span>
                            <input type="text" class="form-control" disabled>
                        </div>
                        <div class="signature-faltas form-switch">
                            <input type="checkbox" class="form-check-input">
                            <span>Autorización de Firma Digital</span>
                        </div>
                    </div>
                    
                    <div class="buttons-faltas">
                        <button class="btn btn-danger">Cancelar</button>
                        <button class="btn btn-primary">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const subirArchivoUrl = "{% url 'subir_archivo_sharepoint' %}";
    </script>
    <script src="../../static/js/inicio/solicitudes.js"></script>
    {% endblock %}
    
</body>
</html>