<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fffb8e8912.js" crossorigin="anonymous"></script>

  </head>
  
  <body style="display: grid; place-items: center;">
    
    <div style="padding: 0px 50px 50px 50px; background-color: rgba(26, 28, 30); border-top: solid 10px #427FC8; border-radius: 10px; max-width: 500px; margin: 10px; color: #fff;">

        <div style="max-width: 250px; margin: 0px auto 20px;">
          <img style="width: 100%; height: auto;" src="https://pil.com.pe/img/logo-default-slim.png" alt="logo-pil">
        </div>

        <h1 style="font-size: 24px;">Codigo de verificacion</h1>
        <div style="margin-top: 30px;">
          <p style="font-weight: 600; font-size: 14px;">Aqui esta tu codigo de verificacion</p>
          <h1 style="text-align: center; margin-block: 30px; background-color: #427FC8; border-radius: 5px;">457821</h1>
          <p style="font-weight: 600; font-size: 14px;">Recuerde que este codigo es de un solo uso y que tiene un tiempo de uso limitado. Solo debe copiarlo y ingresarlo en la pagina de pil</p>
        </div>
    </div>
  </body>
</html>