<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Index</title>
   <link rel="stylesheet" href="../static/cssfiles/sidebar.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   <script src="https://kit.fontawesome.com/fffb8e8912.js" crossorigin="anonymous"></script>
 </head>
  <body>

    

    <!-- SIDEBAR -->

    <div class="page-container">
      <div class="side-bar">

        <div class="logo">
          <img src="../static/images/logo_pil.png" alt="">
        </div>
 
        <div class="close-btn">
          <i class="fas fa-times" aria-hidden="true"></i>
        </div>
   
        <div class="menu">
          <div class="item">
            <a href="#"><i class="fa-solid fa-house-chimney"></i><span>INICIO</span></a>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-user-group"></i><span>RR.HH</span><i class="fa-solid fa-angle-up arrow"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-btn2"><span>CONTRATOS</span><i class="fa-solid fa-angle-up arrow2"></i></a>
              <div class="sub-menu2">
                <a href="#" class="sub-item"><span>CONTRATACIONES</span></a>
                <a href="#" class="sub-item"><span>PUESTOS</span></a>
                <a href="#" class="sub-item"><span><span>KPI</span></span></a>
              </div>
              <a href="#" class="sub-btn2"><span>DOCUMENTOS</span><i class="fa-solid fa-angle-up arrow2"></i></a>
              <div class="sub-menu2">
                <a href="#" class="sub-item"><span>VACACIONES</span></a>
                <a href="#" class="sub-item"><span>PERMISOS</span></a>
                <a href="#" class="sub-item"><span>LICENCIAS</span></a>
                <a href="#" class="sub-item"><span>FALTAS</span></a>
                <a href="#" class="sub-item"><span>SEGUIMIENTO</span></a>
              </div>
              <a href="#" class="sub-item"><span>REPORTES</span></a>
            </div>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-atom"></i><span>LOGISTICA</span><i class="fa-solid fa-angle-up arrow"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
            </div>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-globe"></i><span>COMERCIAL</span><i class="fa-solid fa-angle-up arrow"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
            </div>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-coins"></i><span>CONTABILIDAD</span><i class="fa-solid fa-angle-up arrow"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
            </div>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-layer-group"></i><span>PROYECTOS</span><i class="fa-solid fa-angle-up arrow"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- CONTENIDO DE LA PAGINA -->
    
    <div class="content">
      <div class="menu-btn" style="visibility: visible;">
        <i class="fas fa-bars" aria-hidden="true"></i>
      </div>
      <h1>HOLA MUNDO</h1>

      <form action="/upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="archivo" id="archivo">
        <input type="submit" value="Subir archivo">
      </form>

      
      <div class="user">
        <div class="user-img">
          <img src="../static/images/foto_perfil.jpg" alt="imgprofile">
        </div>
        <div class="name">{{ username }}</div>
        <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
    </div>

 



    <!-- CODIGO JAVASCRIPT -->
    <script>
     const subBtns = document.querySelectorAll(".sub-btn");

     for (let i = 0; i < subBtns.length; i++) {
       subBtns[i].addEventListener("click", (e) => {
        e.preventDefault();
        const arrowIcon = e.currentTarget.querySelector(".arrow");
        const subMenu = e.currentTarget.nextElementSibling;
        arrowIcon.classList.toggle("rotate");
        subMenu.classList.toggle("show");
      });
    }

     const subBtns2 = document.querySelectorAll(".sub-btn2");

      for (let i = 0; i < subBtns2.length; i++) {
        subBtns2[i].addEventListener("click", (e) => {
         e.preventDefault();
         const arrowIcon2 = e.currentTarget.querySelector(".arrow2");
         const subMenu2 = e.currentTarget.nextElementSibling;
         arrowIcon2.classList.toggle("rotate");
         subMenu2.classList.toggle("show2");
       });
     }


     const menuBtn = document.querySelector('.menu-btn');
 
     const sideBar = document.querySelector('.side-bar');
 
     menuBtn.addEventListener('click', function() {
 
       sideBar.classList.add('active');
     });
 
     const closeBtn = document.querySelector('.close-btn');
 
     closeBtn.addEventListener('click', function() {
       
       sideBar.classList.remove('active');
     });
    </script>
 </body>
</html>