<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Index</title>
   <link rel="stylesheet" href="../static/css/index.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <script src="https://kit.fontawesome.com/fffb8e8912.js" crossorigin="anonymous"></script>
 </head>
  <body>

    <!-- BARRA LATERAL -->
    {% block sidebar %}
    <div class="page-container">
        <div class="side-bar">

          <div class="logo">
            <img loading="lazy" src="../static/img/logo_pil.png" alt="">
          </div>
  
          <div class="close-btn">
            <i class="fas fa-times" aria-hidden="true"></i>
          </div>
    
          <div class="menu">
            <div class="item">
              <a href="{% url 'inicio' %}"><i class="fa-solid fa-house-chimney"></i><span>INICIO</span></a>
            </div>
            <div class="item">
              <a class="sub-btn"><i class="fa-solid fa-user-group"></i><span>RR.HH</span><i class="fa-solid fa-angle-up arrow"></i></a>
              <div class="sub-menu">
                <a href="#" class="sub-btn2"><span>CONTRATOS</span><i class="fa-solid fa-angle-up arrow2"></i></a>
                <div class="sub-menu2">
                  <a href="#" class="sub-item"><span>CONTRATACIONES</span></a>
                  <a href="#" class="sub-item"><span>PUESTOS</span></a>
                  <a href="#" class="sub-item"><span><span>KPI</span></span></a>
                </div>
                <a href="{% url 'solicitudes' %}" id="request-link" class="sub-item"><span>SOLICITUDES</span></a>
                <a href="#" class="sub-item"><span>REPORTES</span></a>
              </div>
            </div>
            <div class="item">
              <a class="sub-btn"><i class="fa-solid fa-atom"></i><span>LOGISTICA</span><i class="fa-solid fa-angle-up arrow"></i></a>
              <div class="sub-menu">
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              </div>
            </div>
            <div class="item">
              <a class="sub-btn"><i class="fa-solid fa-globe"></i><span>COMERCIAL</span><i class="fa-solid fa-angle-up arrow"></i></a>
              <div class="sub-menu">
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              </div>
            </div>
            <div class="item">
              <a class="sub-btn"><i class="fa-solid fa-coins"></i><span>CONTABILIDAD</span><i class="fa-solid fa-angle-up arrow"></i></a>
              <div class="sub-menu">
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              </div>
            </div>
            <div class="item">
              <a class="sub-btn"><i class="fa-solid fa-layer-group"></i><span>CTRL. PROYECTOS</span><i class="fa-solid fa-angle-up arrow"></i></a>
              <div class="sub-menu">
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
                <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
    <!-- CONTENIDO DE LA PAGINA -->
    <div class="content-principal">
      <div class="header-custom">
        <div class="menu-btn" style="visibility: visible;">
          <i class="fas fa-bars" aria-hidden="true"></i>
        </div>
        <div class="user">
          {% if intermediario == 0 %}
          <div class="user-img">
            <img loading="lazy" src="../static/img/foto_perfil.jpg" alt="imgprofile">
          </div>
          {% else %}
          <div class="user-img">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <img loading="lazy" src="../static/img/foto_perfil.jpg" alt="imgprofile">
          </div>
          {% endif %}
          <div class="name">{{ user_name }}</div>
          <a href="{% url 'cerrar_sesion' %}"><i class="fa-solid fa-right-from-bracket" aria-label="Read more about Seminole tax hike"></i></a>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="content">
      <h1>Bienvenido a Pil system</h1>
    </div>
    {% endblock %}

    <!-- NOTIFICACIONES -->
    {% block notification %}
      {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div id="success_message" class="success-custom">
            <i class="fa-solid fa-circle-check iconimg"></i>
            <!-- <div class="progress-bar"></div> -->
            {{ message }}
            <span class="close-btn-not"><i class="fa-solid fa-xmark"></i></span>
          </div>
        {% elif message.tags == 'error' %}
          <div id="error_message" class="error-custom">
            <i class="fa-solid fa-circle-xmark iconimg"></i>
            <!-- <div class="progress-bar"></div> -->
            {{ message }}
            <span class="close-btn-not"><i class="fa-solid fa-xmark"></i></span>
          </div>
        {% else %}
          <div id="info_message" class="info-custom">
            <i class="fa-solid fa-circle-info iconimg"></i>
            <!-- <div class="progress-bar"></div> -->
            {{ message }}
            <span class="close-btn-not"><i class="fa-solid fa-xmark"></i></span>
          </div>
        {% endif %}
      {% endfor %}
      {% endif %}
    {% endblock %}
    <script src="../static/js/index.js"></script>
 </body>
</html>