<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Index</title>
   <link rel="stylesheet" href="../static/css/index.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <script src="https://kit.fontawesome.com/fffb8e8912.js" crossorigin="anonymous"></script>
 </head>
  <body>

    <!-- SIDEBAR -->

    <div class="page-container">
      <div class="side-bar">

        <div class="logo">
          <img src="../static/img/logo_pil.png" alt="">
        </div>
 
        <div class="close-btn">
          <i class="fas fa-times" aria-hidden="true"></i>
        </div>
   
        <div class="menu">
          <div class="item">
            <a href=""><i class="fa-solid fa-house-chimney"></i><span>INICIO</span></a>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-user-group"></i><span>RR.HH</span><i class="fa-solid fa-angle-up arrow"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-btn2"><span>CONTRATOS</span><i class="fa-solid fa-angle-up arrow2"></i></a>
              <div class="sub-menu2">
                <a href="#" class="sub-item"><span>CONTRATACIONES</span></a>
                <a href="#" class="sub-item"><span>PUESTOS</span></a>
                <a href="#" class="sub-item"><span><span>KPI</span></span></a>
              </div>
              <a href="#" class="sub-btn2"><span>DOCUMENTOS</span><i class="fa-solid fa-angle-up arrow2"></i></a>
              <div class="sub-menu2">
                <a href="#" class="sub-item"><span>VACACIONES</span></a>
                <a href="#" class="sub-item"><span>PERMISOS</span></a>
                <a href="#" class="sub-item"><span>LICENCIAS</span></a>
                <a href="#" class="sub-item"><span>FALTAS</span></a>
                <a href="#" class="sub-item"><span>SEGUIMIENTO</span></a>
              </div>
              <a href="#" class="sub-item"><span>REPORTES</span></a>
            </div>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-atom"></i><span>LOGISTICA</span><i class="fa-solid fa-angle-up arrow"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
            </div>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-globe"></i><span>COMERCIAL</span><i class="fa-solid fa-angle-up arrow"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
            </div>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-coins"></i><span>CONTABILIDAD</span><i class="fa-solid fa-angle-up arrow"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
            </div>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-layer-group"></i><span>PROYECTOS</span><i class="fa-solid fa-angle-up arrow"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
              <a href="#" class="sub-item"><span>Sub Item 01</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- CONTENIDO DE LA PAGINA -->
    
    <div class="content">

      <div class="header-custom">
        <div class="menu-btn" style="visibility: visible;">
          <i class="fas fa-bars" aria-hidden="true"></i>
        </div>
        <div class="user">
          <div class="user-img">
            <img src="../static/img/foto_perfil.jpg" alt="imgprofile">
          </div>
          <div class="name">{{ user_name }}</div>
          <a href="{% url 'cerrar_sesion' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
      </div>

      <h1>HOLA MUNDO</h1>

      <form id="uploadform" action="{% url 'subir_archivo_sharepoint' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="archivo" id="archivo">
        <input type="submit" value="Subir archivo">
      </form>
    </div>

      <div id="loader" class="loader-container">
        <div class="loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Cargando...</p>
      </div>

      <!-- <div id="mensaje" class="hidden">
        <div class="mensaje-container">
            <div class="icon-container">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="text-container">
                {{ mensaje }}
            </div>
        </div>
      </div> -->

      <!-- <script>
        // Muestra el mensaje y le aplica estilos usando JavaScript
        window.onload = function() {
            var mensajeElement = document.getElementById("mensaje");
            if (mensajeElement.innerText !== "") {
                mensajeElement.style.display("block");
                setTimeout(function() {
                    mensajeElement.style.display("none");
                }, 2000); // Oculta el mensaje después de 2 segundos
            }
        };
    </script> -->
    

    <script src="../static/js/index.js"></script>
 </body>
</html>