*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

.marco {
    border: solid 3px #fff;
}

body {
    color: #fff;
    display: grid;
    place-items: center;
}

.fondo {
    background: url('fondo.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.total {
    position: relative;
    padding: 30px 40px 50px 40px;
    min-width: 260px;
    max-width: 450px;
    background-color: rgba(26, 28, 30, 0.8);
    transition: .8s;
    margin: 10px;
}

.img-login {
    max-width: 300px;
    margin: 0 auto 10px auto;
}

.img-login img {
    width: 100%;
    height: auto;
}

.icon-custom {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #fff;
    border-bottom: solid #fff 1px;
}

.input-custom {
    background-color: transparent;
    border: 0;
    color: #fff;
    border-radius: 0;
    border-bottom: solid #fff 1px;
}

.buscardor {
    align-items: center;
    justify-content: center;
}

.contraseña {
    margin-top: 10px;
}

.boton-login {
    width: 100%;
    background-color: #265183;
    border: 0;
}

.boton-login:hover {
    background-color: #427FC8;
}

.boton-login-div {
    margin: auto;
    margin-top: 40px;
    max-width: 200px;
}

.form-control {
    background-color: transparent;
    color: #fff;
}

.form-control:focus {
    background-color: transparent;
    color: #fff;
}

.form-control::placeholder {
    color: #fff;
    background-color: transparent;
}

.alert-custom {
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 20px 0px 0px 0px;
}




#search-results-list {
    list-style: none;
    padding: 10px 0px 10px 40px;
    margin: 0;
    border-radius: 5px;
    color: #fff;
    max-height: 100px;
    overflow-y: auto;
}

#search-results-list::-webkit-scrollbar {
    display: none;
}

#search-results-list li {
    border-radius: 8px;
    background-color: #303030;
    margin-bottom: 5px;
    padding: 5px;
    transition: background-color 0.3 ease;
}

#search-results-list li:hover {
    background-color: #606060;
}





