@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E4E9F7;
}

.contenedor{
    max-width: 90%;
    margin: auto;
}

.titulo{
    color: #427FC8;
}

.opciones{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 40px 20px 0px;
}

.opciones p{
    margin-inline: 10px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 5px 40px 5px;
}

.available{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.days{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
    padding: 10px;
    border: solid 1px #606060;
    border-radius: 5px;
}

.days i{
    font-size: 25px;
}

.sub-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}

.capsul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.capsul i{
    font-size: 30px;
    margin-inline: 10px;
}

.button{
    display: flex;
    background-color: #4178AC;
    margin: 10px;
    border-radius: 0.25rem;
    border: 1px;
}

.button:hover .capsul{
    background-color: #99ccdf;
}

.button:active .capsul{
    translate: none;
}

.button .capsul{
    display: flex;
    border-radius: inherit;
    background-color: #52B6DB;
    padding: 0.5rem;
    translate: 0.25rem -0.25rem;
    border: 2px solid #4178AC;
    transition: translate 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 250ms;
}

.leyenda-progress{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-block: 30px;
}

.emitido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.emitido-color{
    padding: 3px 10px;
    background: #1e90ff;
    border: solid 5px #1e90ff;
    margin-left: 10px;
}

.validado{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.validado-color{
    padding: 3px 10px;
    background: #ff7514;
    border: solid 5px #ff7514;
    margin-left: 10px;
}

.aprobado{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.aprobado-color{
    padding: 3px 10px;
    background: #4c9141;
    border: solid 5px #4c9141;
    margin-left: 10px;
}

.boleta-emitida{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.boleta-emitida-color{
    padding: 3px 10px;
    background: #ede45b;
    border: solid 5px #ede45b;
    margin-left: 10px;
}

.boleta-firmada{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.boleta-firmada-color{
    padding: 3px 10px;
    background: #c6a664;
    border: solid 5px #c6a664;
    margin-left: 10px;
}

.filtro-solicitudes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.solicitud-link{
    margin: 15px 15px 0 0;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.solicitud-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0096d2;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.solicitud-link.active-solicitud::after{
    width: 70%;
}

.files-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 10px;
    width: 100%;
}

.files-content label{
    width: 85%;
}

.files-names{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 85%;
}

.files-names span{
    margin: 5px;
}



/*----- FORMULARIO -----*/
.hidden {
    display: none;
}

.modal {
    display: flex;
    background-color: rgba(92, 121, 165, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    max-height: 95%;
    min-width: 200px;
    max-width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
}

.close:hover,
.close:focus {
    color: #000;
}



/*----- FECHAS -----*/
.choose{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 5px;
    width: 100%;
}

.choose select{
    margin-inline: 10px;
    width: 100%;
}

.select-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notification{
    text-align: center;
    background-color: #E4E9F7;
    border-radius: 5px;
    color: #427FC8;
    margin: 10px 15px;
    font-weight: 600;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    width: 85%;
}

.period{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-block: 15px;
    justify-content: space-between;
    width: 100%;
}

.periods{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.period-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.period-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 10px;
    justify-content: center;
    font-weight: 600;
}

.total-days{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}







.file-item {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 48%;
    margin: 5px 0;
    background: #f4f4f4;
    border: solid 2px #e3e4e5;
    border-radius: 5px;
}

.file-item p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    font-weight: 500;
}

.file-item span{
    margin: 10px;
}

.btn-remove-file{
    cursor: pointer;
}

.file-icon{
    width: 25px;
    height: 35px;
    margin: 10px;
}
















/*----- VACACIONES -----*/
.vacaciones-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    width: 100%;
}

.authorizers-vacaciones{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-block: 15px;
    width: 85%;
}

.signature-vacaciones{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
}

.signature-vacaciones span{
    margin-inline: 10px;
}

.buttons-vacaciones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 0 ;
    width: 100%;
}

.buttons-vacaciones button{
    margin-inline: 10px;
    width: 50%;
}



/*----- DESCANSO -----*/
.descanso-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    justify-content: space-between;
    width: 100%;
}

.type-descanso{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-block: 10px;
    width: 85%;
}

.request-details-descanso{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-block: 10px;
    width: 85%;
}

.authorizers-descanso{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-block: 10px;
    width: 85%;
}

.signature-descanso{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}

.signature-descanso span{
    margin-inline: 10px;
}

.buttons-descanso{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
    width: 100%;
}

.buttons-descanso button{
    margin-inline: 10px;
    width: 50%;
}

.custom-file{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.custom-file input{
    display: none;
}

.custom-file label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 8px 10px;
    font-family: 'Poppins';
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #317ed9;
    cursor: pointer;
}

.custom-file label:hover{
    background-color: #1e90ff;
}

.custom-file label i{
    margin-right: 5px;
}

.form-descanso{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-descanso label{
    margin: 5px;
}



/*----- LICENCIA -----*/
.period-licencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    justify-content: space-between;
    padding-block: 10px;
    height: 60vh;
    width: 100%;
}

.licencia-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.type-license, .license-detail{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-block: 10px;
    width: 85%;
}

.request-details-license{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-block: 15px;
    width: 85%;
}

.authorizers-license{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-block: 10px;
    width: 85%;
}

.signature-license{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}

.signature-license span{
    margin-inline: 10px;
}

.buttons-license{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 0;
    width: 100%;
}

.buttons-license button{
    margin-inline: 10px;
    width: 50%;
}

.form-license{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.form-license label{
    margin: 5px;
}



/*----- FALTAS -----*/
/* .faltas-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.type-faltas, .faltas-detail{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-block: 5px;
    width: 85%;
}

.request-details-faltas{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-block: 5px;
    width: 85%;
}

.authorizers-faltas{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-block: 10px;
    width: 85%;
}

.signature-faltas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}

.signature-faltas span{
    margin-inline: 10px;
}

.buttons-faltas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 10px;
    width: 100%;
}

.buttons-faltas button{
    margin-inline: 10px;
    width: 50%;
} */



/*----- BOTON CREAR -----*/
.button-create {
    --color: #4178AC;
    font-family: inherit;
    display: inline-block;
    width: 10em;
    height: 3em;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .button-create:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 250px;
    border-radius: 50%;
   }
   
   .button-create:hover {
    color: #fff;
   }
   
   .button-create:before {
    top: 100%;
    left: 100%;
    transition: all .4s;
   }
   
   .button-create:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .button-create:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }



   /*----- TARGETAS -----*/
   .info-card{
    display: flex;
    flex-direction: column;
   }

   .card-custom{
    position: relative;
    display: flex;
    margin: 40px auto;
    padding: 10px 10px 10px 0px;
    background: #fff;
    border-radius: 5px;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   }

   @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(-40px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

   .slide-top{
    animation: slide-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   }

    @keyframes slide-top {
        0% {
          -webkit-transform: translateY(250px);
                  transform: translateY(250px);
        }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
        }
      }
          
    .float{
        transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }

    .float:hover{
        box-shadow: 0 4px 4px 0 #cccccc;
        transform: translate(0px,6px);
        -webkit-transform: translate(0px,6px);
        -moz-transform:translate(0px,6px);
    }
              

   .progress-bar-solicitudes{
    position: absolute;
    top: 0;
    height: 100%;
    border: solid 5px #1e90ff;
    border-radius: 5px 0 0 5px;
   }

   .close-card{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    border: none;
    background-color: #db0000;
    padding: 2px 7px;
    border-radius: 0 4px 0 10px;
   }

   .principal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 10px 10px;
    padding: 0 20px;
   }

   .title-type{
    font-weight: 400;
    font-family: 'Poppins';
   }

   .fechas-targetas{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    margin-block: 10px;
   }

   .fechas-targetas span{
    margin-right: 20px;
   }

   .progress-sections{
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .issued{
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    background: #008080;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    width: 100%;
   }

   .validated{
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 400;
    background: #3883c2
   }

   .approved{
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 400;
    background: #2784d3
   }

   .ticket-issued{
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 400;
    background: #909090
   }

   .ticket-signed{
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 400;
    background: #909090
   }

   @media (max-width: 830px){
    .card-custom{
        max-width: 90%;
    }

    .leyenda-progress{
        flex-direction: column;
    }
   }

   @media (max-width: 590px){
    .principal{
        margin: 0;
    }
    .progress-sections{
        width: 85%;
        margin: 20px auto 5px auto;
    }
   }