* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
  }
  
  body {
    color: #fff;
    display: grid;
    place-items: center;
  }
  
  .fondo {
    background: url('../img/fondo.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .total {
    padding: 0px 50px 50px 50px;
    background-color: rgba(26, 28, 30);
    border-top: solid 10px #427FC8;
    border-radius: 10px;
    max-width: 500px;
    margin: 10px;
  }
  
  .img-login {
    max-width: 300px;
    margin: 0px auto 20px;
  }
  
  .img-login img {
    width: 100%;
    height: auto;
  }

  .contenido h2 {
    text-align: center;
    margin-block: 30px;
    background-color: #427FC8;
    border-radius: 5px;
  }