@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

body{
 min-height: 100vh;
 background: #E4E9F7
}


/* ---------- SIDEBAR ----------*/
.page-container{
  position: relative;
}

.logo{
  position: absolute;
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  width: 170px;
  object-fit: cover;
  margin: 8px 8px;
}

.side-bar{
  background: linear-gradient(to bottom, #52B6DB, #4178AC, #2B569D);
 width: 280px;
 height: 100vh;
 position: fixed;
 top: 0;
 left: -100%;
 overflow-y: auto;
 transition: 0.6s ease;
 z-index: 20;
}

.side-bar.active{
 left: 0;
}

.side-bar .menu{
 width: 100%;
 margin-top: 80px;
}

.side-bar::-webkit-scrollbar{
  display: none;
}

.side-bar .menu .item{
 position: relative;
 cursor: pointer;
}

.side-bar .menu .item a{
 color: #fff;
 font-size: 16px;
 text-decoration: none;
 display: block;
 padding: 5px 30px;
 line-height: 60px;
}

.side-bar .menu .item a:hover{
 background: #2B569D;
 transition: 0.3s ease;
}

.side-bar .menu .item i{
 margin-right: 15px;
 font-size: 20px;
}

.side-bar .menu .item a .arrow{
 position: absolute;
 right: 0;
 margin: 20px;
 transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu a .arrow2{
 position: absolute;
 right: 0;
 margin: 20px;
 transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
  background: rgba(255, 255, 255,0.1);
  display: none;
 }

 .side-bar .menu .item .sub-menu.show{
  display: block;
 }

.side-bar .menu .item .sub-menu .sub-menu2{
  background: rgba(29, 27, 49, 0.7);
  display: none;
}

.side-bar .menu .item .sub-menu .sub-menu2.show2{
  display: block;
}
 
 .side-bar .menu .item .sub-menu a{
  padding-left: 80px;
 }
 
 .rotate{
  transform: rotate(180deg);
 }

.close-btn{
 position: absolute;
 padding: 5px;
 color: #fff;
 font-size: 22px;
 right: 0;
 margin: 15px;
 cursor: pointer;
}

@media (max-width: 900px){
 .main h1{
   font-size: 40px;
   line-height: 60px;
 }
}




/* ---------- CONTENIDO DE LA PAGINA ---------- */
 .menu-btn{
  color: #11101d;
  position: relative;
  font-size: 22px;
  margin: 0px 20px;
  padding: 5px;
  cursor: pointer;
 }

 .content{
  display: flex;
  flex-direction: column;
  margin: 10px;
 }


  .user{
  position: relative;
  margin: 0px 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .header-custom{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 }

 .content .user .user-img{
  display: flex;
  align-items: center;
 }

 .content .user img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  background: rgba(29, 27, 49, 1);
 }
 
 .content .name{
  color: #11101d;
  font-size: 16px;
  font-weight: 400;
  flex-wrap: wrap;
 }

 .content .user i{
  color: #11101d;
  font-size: 20px;
 }




/* ---------- VENTANA DE CARGA ---------- */
.loader-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  top: 33px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #11101d;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 0.5s infinite;
}

.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 0.5s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.5s infinite;
}

.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 0.5s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.success-custom {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-block: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #fcfcfc;
  color: #303030;
  margin: 20px 20px;
  font-size: 16px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.success-custom i {
  color: rgb(25, 186, 23);
  margin: 0px 10px 0px 0px;
  font-size: 35px;
}

.error-custom {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-block: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #fcfcfc;
  color: #303030;
  margin: 20px 20px;
  font-size: 16px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.error-custom i {
  color: rgb(213, 16, 16);
  margin: 0px 10px 0px 0px;
  font-size: 35px;
}

.info-custom {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-block: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #fcfcfc;
  color: #303030;
  margin: 20px 20px;
  font-size: 16px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.info-custom i {
  color: rgb(19, 83, 194);
  margin: 0px 10px 0px 0px;
  font-size: 35px;
}

.progress-bar {
  height: 4px;
  border-radius: 0px 0px 0px 10px;
  width: 100%;
  background-color: #11101d;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 1s ease;
  animation: progressBarAnimation 4s linear forwards;
}

@keyframes progressBarAnimation {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}